<mat-card>
  <mat-card-header><mat-icon aria-hidden="false" aria-label="services" fontIcon="view_comfy"></mat-icon>Services </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef > Name </th>
        <td mat-cell *matCellDef="let element" > {{element.Spec.Name}} </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> {{element.Spec.Labels["com.docker.stack.image"]}} </td>
      </ng-container>

      <ng-container matColumnDef="replicas">
        <th mat-header-cell *matHeaderCellDef> Replicas </th>
        <td mat-cell *matCellDef="let element"> {{element.Spec.Mode?.Replicated?.Replicas}} </td>
      </ng-container>

      <ng-container matColumnDef="ports">
        <th mat-header-cell *matHeaderCellDef> Ports </th>
        <td mat-cell *matCellDef="let element">
          <ul *ngFor="let port of element.Endpoint.Ports; index as i; first as isFirst">
            <li>{{element.Endpoint?.Ports[i]?.PublishedPort}}:{{element.Endpoint.Ports[i].TargetPort}}</li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="stack">
        <th mat-header-cell *matHeaderCellDef> Stack </th>
        <td mat-cell *matCellDef="let element"> {{element.Spec.Labels["com.docker.stack.namespace"]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>
